/* Big tablet to 1200px (widths smaller than the 1140px row */
@media only screen and (max-width: 1200px) {
  .nav-sidebar {
    max-width: 97%;
  }
  .prof__pic {
    width: 30vw;
    height: 30vw;
  }
  .paragraph {
    position: relative;
    top: 15rem;
    width: 45%;
  }
  .images-about-me {
    position: relative;
    max-width: 57vw;
    margin-right: 2%;
  }
  .img_resp {
    width: 50%;
  }
  .modal.active {
    max-width: 100vw;
  }
  .slider {
    height: 70%;
    width: 45%;
    top: 20%;
  }
  .dots {
    bottom: 15%;
  }
}

@media only screen and (max-width: 992px) {
  body {
    padding: 0;
  }
  nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-sidebar {
    max-width: 30%;
  }
  .btn-toggle-nav {
    position: relative;
    top: -13rem;
  }

  .nav-sidebar ul {
    flex-direction: column;
  }
  .header {
    margin-top: 1.2rem;
    background-attachment: initial;
  }

  .heading-primary-main {
    font-size: 5.5rem;
    font-weight: 300;
    letter-spacing: 1.7rem;
    animation: moveInLeft 2s ease-out;
  }
  .heading-primary-sub {
    display: block;
    font-size: 2.8rem;
    font-weight: 300;
    letter-spacing: 1rem;
    animation: moveInRight 2s ease-out;
  }
  .section__me {
    display: block;
    background-attachment: scroll;
    height: 260vh;
  }
  .profile__me {
    margin: 0;
  }
  .prof__pic {
    display: flex;
    position: relative;
    width: 25vw;
    height: 25vw;
    top: 5%;
    left: 40%;
    margin: 0;
  }

  .paragraph {
    margin: auto;
    line-height: 2.5rem;
    font-size: 1.75rem;
    width: 90%;
  }
  .par_me {
    top: 10rem;
    flex: 0.5;
  }
  .images-about-me {
    flex-direction: row;
    position: relative;
    max-width: 100vw;
    margin: 0;
    align-content: center;
    top: -10%;
    justify-content: center;
  }
  .img_resp:nth-child(2) {
    margin-top: 10.237%;
  }
  .img-aboutme {
    margin-bottom: -4px;
  }
  .img_resp {
    width: 32%;
  }

  .products-heading {
    font-size: 4.5rem;
  }
  .section__galery {
    height: 100vh;
    background-color: black;
  }
  .section__header {
    display: none;
  }
  .slider {
    height: 100%;
    width: 89%;
    top: 0%;
  }

  .dots {
    bottom: 5%;
  }
  #lb-back {
    display: none;
  }
  #lb-back.show {
    display: none;
  }
  .section__workshop {
    height: 150vh;
  }

  .section__friends {
    display: flex;
    max-width: 100vw;
    height: auto;
    flex-wrap: wrap;
  }
  .friends_col {
    flex-basis: 50%;
    height: 50vh;
  }
  .friends_col:hover {
    flex: 50%;
    transition: all 1s ease-in-out;
  }

  .friends_info {
    display: none;
  }
  .infobox {
    font-size: 50%;
  }
  .contact-form {
    width: 60%;
  }
}

@media only screen and (max-width: 768px) {
  .heading-primary-main {
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 3rem;
  }
  .nav-sidebar {
    max-width: 50%;
  }
  .logo {
    position: relative;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .heading-primary-main {
    font-size: 4rem;
    font-weight: 300;
    letter-spacing: 1rem;
    animation: moveInLeft 2s ease-out;
  }
  .heading-primary-sub {
    display: block;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0.5rem;
    animation: moveInRight 2s ease-out;
  }
  .section__me {
    display: block;
    background-attachment: scroll;
    height: 210vh;
  }

  .images-about-me {
    top: -14%;
  }

  .cheese-showcase div {
    width: 50%;
    height: auto;
  }
  .section__products h2 {
    font-size: 3.5rem;
  }

  .section__header {
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
  }
  .section__header {
    display: flex;
  }

  .slider {
    height: 130%;
    width: 100%;
    top: 22%;
  }
  .btn_left {
    top: 30%;
    left: 6%;
  }

  .btn_right {
    top: 30%;
    right: 6%;
  }

  .dots {
    bottom: 45%;
  }
}

@media only screen and (max-width: 576px) {
  .nav-sidebar {
    max-width: 70%;
  }

  .heading-primary-main {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 2rem;
    animation: moveInLeft 2s ease-out;
  }
  .heading-primary-sub {
    display: block;
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: 0.8rem;
    transform: translateX(-1.5%);

    animation: moveInRight 2s ease-out;
  }
  .images-about-me {
    top: -20%;
  }

  .slider {
    height: 130%;
    width: 100%;
    top: 30%;
  }
  .btn_left {
    top: 14%;
    left: 1%;
  }

  .btn_right {
    top: 14%;
    right: 1%;
  }

  .dots {
    bottom: 60%;
  }
  .section__contact {
    height: auto;
  }
  .cont_head {
    font-size: 3.2rem;
    height: 2rem;
    letter-spacing: 0.5rem;
  }
  .cont_head-two {
    top: 8rem;
    font-size: 2.5rem;
    height: 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .contact-form {
    width: 250%;
    transform: translate(-30%, 30%);
  }
  footer {
    margin-top: 14rem;
    height: 42vh;
    font-size: 100%;
  }
  .footer-nav {
    margin-top: 0;
    line-height: 3rem;
    text-align: center;
  }
  .soc_icons {
    top: 1rem;
    right: 10rem;
  }

  .copyright {
    position: relative;
    /* margin: 0; */
    width: 100%;
    line-height: 2rem;
    margin-top: 16rem;
  }
  .fabche {
    text-align: center;
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 380px) {
  .section__me {
    height: 255vh;
  }
}
