@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Merriweather:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Festive&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  color: #777;
  padding: 1rem 1rem 1rem 1rem;
  background-color: black;
}
.logo {
  display: flex;
  position: relative;
  height: 9.5rem;
  left: 5%;
}

.header {
  display: flexbox;
  height: 97vh;
  max-width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(faber-main-2-min.png);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: relative;
  clip-path: polygon(
    5% 0,
    95% 0,
    100% 5%,
    100% 95%,
    95% 100%,
    5% 100%,
    0 95%,
    0 5%
  );
  margin-bottom: 1.6rem;
}
/* HEADING */

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
  z-index: -1;
}

.heading-primary {
  color: rgb(225, 224, 224);
  text-transform: uppercase;
  backface-visibility: hidden;
  padding-left: 2rem;
}
.heading-primary-main {
  display: block;
  font-size: 6rem;
  font-weight: 300;
  letter-spacing: 3.5rem;
  animation: moveInLeft 2s ease-out;
}
.heading-primary-sub {
  display: block;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1.75rem;
  animation: moveInRight 2s ease-out;
}
/* KEYFRAMES */
@keyframes fadeInText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* navigation */

nav {
  position: absolute;
  width: 100%;
  height: 15vh;
  padding-left: 4.8rem;
  padding-right: 4.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation {
  position: absolute;
  max-width: 100%;
  margin-bottom: 1.6rem;
  z-index: 1000;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.nav-item a {
  display: inline-block;
  padding: 1.6rem 2.5rem;
  text-decoration: none;
  color: white;
}

.menu-icon {
  font-size: 4.8rem;
  color: white;
}
.menu-icon:hover {
  opacity: 0.5;
  transition: 0.4s;
}

.navbar span {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.sticky {
  position: fixed;
  top: 2.5rem;
  right: 3.2rem;
  width: 80%;
}

/* OPEN-CLOSE MENÜ */

.nav-sidebar ul {
  overflow: hidden;
  visibility: hidden;
}
.nav-sidebar ul li {
  list-style: none;
}
.btn-toggle-nav {
  text-decoration: none;
}
.nav-sidebar ul li span,
.nav-sidebar ul li a {
  display: flex;
  font-size: 1.9rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  white-space: nowrap;
  opacity: 0;
  transition: all 1s ease-in-out;
}

.nav-sidebar {
  width: calc(0% - 100%);
  background-color: rgba(27, 26, 26, 0.618);
  border-radius: 0.8rem;
  z-index: 1000;
  transition: all 1s ease-in-out;
  max-width: 75%;
}
.nav-item {
  border: 0.15rem solid transparent;
}

.nav-item:active,
.nav-item:hover {
  transition: border-bottom 0.4s;
  border-bottom: 0.15rem solid white;
  opacity: 0.5;
}
.links {
  cursor: pointer;
}
/* SECTION ABOUT ME */
.section__me {
  height: 180vh;
  background-color: white;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.797),
      rgba(255, 255, 255, 0.756)
    ),
    url(blacknwhite-min.png);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;

  display: flex;
  margin-top: 1.6rem;
  clip-path: polygon(
    5% 0,
    95% 0,
    100% 5%,
    100% 95%,
    95% 100%,
    5% 100%,
    0 95%,
    0 5%
  );
}

.profile__me {
  height: 12.8rem;
  border-radius: 50%;
}
.strong_word {
  font-size: 2.4rem;
}
.paragraph {
  line-height: 2.9rem;
  font-size: 1.75rem;
  margin-top: 12rem;
  width: 45%;
  margin-right: 2rem;
  margin-left: 2rem;
}
/* PARAGRAPHS */
.par_me {
  color: black;
  margin-bottom: 4.8rem;
}

/* IMAGES */
.prof__pic {
  margin-top: 12rem;
  height: 12.8rem;
  width: 12.8rem;
}

.images-about-me {
  top: -10%;
  width: 65%;
  height: 100%;
  position: relative;
}
.img-aboutme-1 {
  position: relative;
  border: 5px solid white;
  top: 50%;
  left: 50%;
  width: 45%;
  transform: translate(-103%, -236%);
}
.img-aboutme-2 {
  position: relative;
  top: 50%;
  left: 50%;
  width: 45%;
  border: 5px solid white;
  transform: translate(-105%, -184%);
}
.img-aboutme-3 {
  position: relative;
  top: 50%;
  left: 50%;
  width: 50%;
  transform: translate(-4%, -210%);
}
.img-aboutme-4 {
  position: relative;
  top: 50%;
  left: 50%;
  width: 47%;
  transform: translate(-112%, -52%);
}
.img-aboutme-5 {
  position: relative;
  top: 50%;
  left: 50%;
  width: 48%;
  transform: translate(-103%, -230%);
  border: 5px solid white;
}
.img-aboutme-6 {
  position: relative;
  top: 50%;
  left: 50%;
  width: 49%;
  border: 5px solid white;
  transform: translate(-203%, -197.5%);
}
.img-aboutme-7 {
  position: relative;
  top: 50%;
  left: 50%;
  width: 31%;
  border: 5px solid white;
  transform: translate(-55%, -240%);
}

/* SECTION PRODUCTS */
.section__products {
  display: flex;
  display: block;

  height: 100%;
  background-color: #262626;
  border: 4px solid black;
  margin-top: 1.6rem;
  clip-path: polygon(
    5% 0,
    95% 0,
    100% 5%,
    100% 95%,
    95% 100%,
    5% 100%,
    0 95%,
    0 5%
  );
}

.products-heading {
  font-size: 5.6rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
  padding-left: 5.6rem;
  padding-bottom: 0.3rem;
  text-align: center;
  text-transform: uppercase;
  height: 9.1rem;
  width: 100%;
  background-color: #d5d5d5;
  color: #3c3c3c;
  border-bottom: 0.4rem solid black;
}

.cheese-showcase {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  left: 0;
}
.cheese-showcase div {
  position: relative;
  width: 20%;
  height: 50%;
  border: 1px solid black;
}

.cheese-photo {
  margin: 0;
  overflow: hidden;
}
.cheese-photo img {
  opacity: 0.8;
  width: 100%;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
  animation: fadeIn 5s;
}
.cheese-photo img:hover {
  opacity: 1;
  transform: scale(1.02);
  cursor: pointer;
}
/* TOOLTIP */
.tooltip {
  position: relative;
  display: flex;
  border-bottom: 1px dotted black;
  justify-content: center;
}

.tooltip .tooltiptext {
  visibility: hidden;
  bottom: 0;
  width: 12rem;
  color: rgb(16, 15, 15);
  text-align: center;
  border-radius: 0.6rem;
  padding: 0.2rem 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  background-color: rgba(255, 255, 255, 0.797);
  font-weight: 800;
  clip-path: polygon(10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
  visibility: visible;
  animation: fadeInText 1s;
}
/* MODAL WINDOW */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 1rem;
  z-index: 10;
  background-color: white;
  box-shadow: 0 3rem 8rem 1rem rgba(255, 255, 255, 0.487);
  display: block;
  max-height: calc(100vh - 3.2rem);
  overflow-y: auto;
  transition: all 0.6s ease-in-out;
}

.modal p {
  line-height: 2.4rem;
  margin-bottom: 4rem;
  color: rgb(0, 0, 0);
}
.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  top: 0;
  order: 3;
}
.modal-header .title {
  font-size: 2.24rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 2rem;
  font-weight: bold;
}

.modal-body {
  padding: 1rem 1.5rem;
  order: 2;
  width: 70vw;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: initial;
}
.modal-picture {
  max-height: 30vh;
  max-width: 80vw;
}
#overlay {
  width: 100vw;
  position: fixed;
  opacity: 0;
  transition: all 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

/* SECTION GALERY */

.section__galery {
  display: flex;
  /* position: relative; */
  height: 100vh;
  margin-top: 1.6rem;
  background-color: rgba(39, 38, 38, 0.713);
  clip-path: polygon(
    5% 0,
    95% 0,
    100% 5%,
    100% 95%,
    95% 100%,
    5% 100%,
    0 95%,
    0 5%
  );
  font-family: "Festive", sans-serif;
  overflow: hidden;
  transition: transform 1s, opacity 1s;
}
.galery_box {
  width: 100%;
  position: relative;
}
.section__header {
  position: absolute;
  height: 5rem;
  top: 5rem;
  left: 4rem;
  font-size: 8rem;
  line-height: 1.3;
  font-weight: 500;
}

.slider {
  top: 10rem;
  width: 60rem;
  height: 40rem;
  margin: 0 auto;
  position: relative;
  display: flex;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s;
}

.slide > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider_btn {
  position: absolute;
  z-index: 10;
  border: none;
  background: rgba(255, 255, 255, 0.323);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;
}

.btn_left {
  top: 50%;
  left: 6%;
  transform: translateY(-50%);
}

.btn_right {
  top: 50%;
  right: 6%;
  transform: translateY(-50%);
}
/* DOTS */
.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  border: none;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  background-color: rgb(82, 82, 82);
  opacity: 1;
}

/* SECTION WORKSHOP */
.section__workshop {
  display: flex;
  flex-wrap: wrap;
  /* position: relatave; */
  height: 100vh;
  background-color: white;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.797),
      rgba(255, 255, 255, 0.756)
    ),
    url(blacknwhite-min.png);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  margin-top: 1rem;
  clip-path: polygon(
    5% 0,
    95% 0,
    100% 5%,
    100% 95%,
    95% 100%,
    5% 100%,
    0 95%,
    0 5%
  );
}
.column {
  flex-basis: 50%;
  border: 2px solid black;
}
.column h2 {
  color: black;
}
.workpar {
  position: relative;
  top: 4%;
  color: black;
}
.bigger_par {
  font-size: 2rem;
  margin: 1rem 0 1rem 0;
}
.column:nth-child(1) {
  position: relative;
  background: rgb(209, 209, 209);
  text-align: center;
}
.column:nth-child(2) {
  background: rgb(209, 209, 209);
  text-align: center;
}
.column:nth-child(3) {
  background: rgb(209, 209, 209);
  text-align: center;
}
.column:nth-child(4) {
  background: rgb(209, 209, 209);
  text-align: center;
}

/* SECTION FRIENDS */
.section__friends {
  height: 100vh;
  background-color: white;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url(teritő-min.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  clip-path: polygon(
    5% 0,
    95% 0,
    100% 5%,
    100% 95%,
    95% 100%,
    5% 100%,
    0 95%,
    0 5%
  );
}
.friends_col {
  border: 1px solid rgba(119, 119, 119, 0.618);
  flex-wrap: wrap;
  flex-direction: column;
  height: 100vh;
  width: auto;
  flex: 0.2;
  transition: all 1s ease-in-out;
  display: flex;
}
.friends_col:hover {
  flex: 0.4;
  transition: all 1s ease-in-out;
}
.imgSpan img {
  margin-top: 2rem;
  max-width: 70%;
  max-height: 60%;
}
.imgSpan {
  position: relative;
  display: flex;
  width: auto;
  height: 20%;
  justify-content: space-around;
  border-bottom: 0.2rem solid black;
  /* flex: 0.2; */
}
.friends_col h3 {
  position: relative;
  text-align: center;
  color: black;
  font-size: 2rem;
  flex: 0.3;
  top: 1rem;
}

.infobox {
  position: relative;
  flex: 0.5;
  text-align: center;
  overflow: hidden;
}
.infobox span {
  position: relative;
  color: black;
  text-decoration: none;
}
.cont_icon {
  margin-top: 1rem;
  display: flex;
  position: relative;
  color: black;
  font-size: 3rem;
  left: 50%;
  transform: translateX(-50%);
}
.social {
  display: inline-block;
  position: relative;
  margin: 1rem;
  color: black;
  font-size: 3.5rem;
}
.social:hover {
  color: #777;
}
.links_soc {
  text-decoration: none;
  color: black;
}
.links_soc:hover {
  text-decoration: none;
  color: #777;
}
#col1 {
  background-color: rgba(0, 128, 0, 0.02);
}
#col1:hover {
  background-color: rgba(0, 128, 0, 0.3);
}
#col2 {
  background-color: rgba(240, 255, 240, 0.05);
}
#col2:hover {
  background-color: rgba(240, 255, 240, 0.3);
}
#col3 {
  background-color: rgba(76, 0, 130, 0.05);
}
#col3:hover {
  background-color: rgba(76, 0, 130, 0.3);
}
#col4 {
  background-color: rgba(240, 128, 128, 0.05);
}
#col4:hover {
  background-color: rgba(240, 128, 128, 0.3);
}
#col5 {
  background-color: rgba(32, 178, 171, 0.05);
}
#col6 {
  background-color: rgba(128, 0, 0, 0.05);
}
#col5:hover {
  background-color: rgba(32, 178, 171, 0.3);
}
#col6:hover {
  background-color: rgba(128, 0, 0, 0.3);
}

/* SECTION CONTACT */
.section__contact {
  height: 100vh;
  background-color: white;
  background-image: linear-gradient(
    to top right,
    rgba(150, 150, 150, 0.797),
    rgba(255, 255, 255, 0.756)
  );
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  clip-path: polygon(
    5% 0,
    95% 0,
    100% 5%,
    100% 95%,
    95% 100%,
    5% 100%,
    0 95%,
    0 5%
  );
}
.cont_head {
  margin-top: 2rem;
  position: relative;
  font-size: 4rem;
  color: rgb(63, 63, 63);
  height: 2rem;
  text-align: center;
  letter-spacing: 1rem;
}
.cont_head-two {
  top: 7%;
  position: relative;
  font-size: 3rem;
  color: rgb(63, 63, 63);
  height: 2rem;
  text-align: center;
}
.contact_form-box {
  position: relative;
  left: 50%;
  width: 30%;
  top: 10%;
  transform: translateX(-50%);
}
.contact-form {
  position: relative;
}
.line_space {
  line-height: 2.6rem;
}

input[type="email"],
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #ccc;
}
textarea {
  height: 100px;
}
input[type="checkbox"] {
  margin: 10px 5px 10px 0;
}
:focus {
  outline: 0;
}

/* FOOTER */
footer {
  margin-top: 12rem;
  background-color: #333;
  height: 15rem;
  padding: 40px;
  font-size: 80%;
}
.footer-nav {
  list-style: none;
  float: left;
}
.social-links {
  list-style: none;
  float: right;
}
.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 20px;
}
.footer-nav li:last-child,
.social-links li:last-child {
  margin-right: 0;
}
.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  border: 0;
  color: #888;
  transition: color 0.2s;
}
.footer-nav li a:active,
.footer-nav li a:hover {
  color: #ddd;
}
.social-links li a:link,
.social-links li a:visited {
  font-size: 300%;
}
.facebook,
.insta {
  transition: color 0.2s;
}
.soc_icons {
  position: relative;
  top: -1rem;
}
.facebook:hover {
  color: #1877f2;
}
.insta:hover {
  color: #c32aa3;
}
footer p {
  color: #888;
  text-align: center;
  margin: 3.5rem;
  height: 3rem;
  line-height: 3rem;
}

/* ANIMATION */
.fade-in {
  animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes fade-in {
  0% {
    transform: translateY(5rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.section--hidden {
  opacity: 0;
  transform: translateX(15rem);
}

.slideIn {
  transition: transform 1s, opacity 1s;
}

/* IMAGE */
.zoomD {
  cursor: pointer;
}

/* LIGHTBOX BACKGROUND */
#lb-back {
  display: flex;
  position: absolute;
  padding: 0;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: auto;
  background: rgba(0, 0, 0, 0.028);
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  transition: all ease-in-out 1s;
}
#lb-back.show {
  visibility: visible;
  opacity: 1;
  width: 100%;
  height: 100%;
  justify-content: center;
}

/* .images-about-me {
  width: 80%;
  height: 100%;
  position: relative;
  flex-wrap: wrap;
}
.img-aboutme-1 {
  position: absolute;
  border: 5px solid white;
  top: 5%;
  left: 3%;
  width: 45%;
}
.img-aboutme-2 {
  position: absolute;
  top: 2%;
  left: 48%;
  width: 45%;
  border: 5px solid white;
}
.img-aboutme-3 {
  position: absolute;
  top: 25%;
  left: 45%;
  width: 54%;
}
.img-aboutme-4 {
  position: absolute;
  top: 24%;
  left: 5%;
  width: 41%;
  align-self: flex-start;
}
.img-aboutme-5 {
  position: absolute;
  top: 53%;
  width: 54%;
  border: 5px solid white;
  align-self: flex-start;
}
.img-aboutme-6 {
  position: absolute;
  top: 76.5%;
  left: 54%;
  width: 36%;
  border: 5px solid white;
  align-self: flex-start;
}
.img-aboutme-7 {
  position: absolute;
  top: 53%;
  left: 54%;
  width: 31%;
  border: 5px solid white;
  align-self: flex-start;
} */
