@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Merriweather:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Festive&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  color: #777;
  padding: 1rem 1rem 1rem 1rem;
  background-color: black;
}

.header {
  display: flexbox;
  height: 96vh;
  max-width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(faber-main.JPG);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: relative;
  clip-path: polygon(
    5% 0,
    95% 0,
    100% 5%,
    100% 95%,
    95% 100%,
    5% 100%,
    0 95%,
    0 5%
  );
  margin-bottom: 1.6rem;
}
/* HEADING */

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
  z-index: -1;
}

.heading-primary {
  color: rgb(225, 224, 224);
  text-transform: uppercase;
  backface-visibility: hidden;
  padding-left: 2rem;
}
.heading-primary-main {
  display: block;
  font-size: 6rem;
  font-weight: 300;
  letter-spacing: 3.5rem;
  animation: moveInLeft 2s ease-out;
}
.heading-primary-sub {
  display: block;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1.75rem;
  animation: moveInRight 2s ease-out;
}
/* KEYFRAMES */
@keyframes fadeInText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* navigation */

nav {
  position: absolute;
  width: 100%;
  height: 15vh;
  padding-left: 4.8rem;
  padding-right: 4.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation {
  display: flexbox;
  position: absolute;

  max-width: 100%;
  margin-bottom: 1.6rem;
  z-index: 1000;
}

.navbar {
  display: flex;
  align-items: center;
}

.logo {
  height: 9.5rem;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.nav-item a {
  display: inline-block;
  padding: 1.6rem 2.5rem;
  text-decoration: none;
  color: white;
}

.logo img {
  width: 28rem;
  vertical-align: middle;
}

.menu-icon {
  font-size: 4.8rem;
  color: white;
}
.menu-icon:hover {
  opacity: 0.5;
  transition: 0.4s;
}

.navbar span {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.sticky {
  position: fixed;
  top: 2.5rem;
  right: 3.2rem;
  width: 80%;
}

/* OPEN-CLOSE MENÜ */

.nav-sidebar ul {
  overflow: hidden;
  visibility: hidden;
}
.nav-sidebar ul li {
  list-style: none;
}
.btn-toggle-nav {
  text-decoration: none;
}
.nav-sidebar ul li span,
.nav-sidebar ul li a {
  display: flex;
  font-size: 1.9rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  white-space: nowrap;
  opacity: 0;
  transition: all 1s ease-in-out;
}

.nav-sidebar {
  width: calc(0% - 100%);
  background-color: rgba(27, 26, 26, 0.618);
  border-radius: 0.8rem;
  z-index: 1000;
  transition: all 1s ease-in-out;
  /* opacity: 0.8; */
}
.nav-item {
  border: 0.15rem solid transparent;
}

.nav-item:active,
.nav-item:hover {
  transition: border-bottom 0.4s;
  border-bottom: 0.15rem solid white;
  opacity: 0.5;
}
.links {
  cursor: pointer;
}
/* SECTION ABOUT ME */
.section__me {
  height: auto;
  background-color: white;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.797),
      rgba(255, 255, 255, 0.756)
    ),
    url(blacknwhite.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;

  display: flex;
  margin-top: 1.6rem;
  clip-path: polygon(
    5% 0,
    95% 0,
    100% 5%,
    100% 95%,
    95% 100%,
    5% 100%,
    0 95%,
    0 5%
  );
}

.profile__me {
  height: 12.8rem;
  border-radius: 50%;
}
.strong_word {
  font-size: 2.4rem;
}
.paragraph {
  line-height: 2.9rem;
  font-size: 1.75rem;
  margin-top: 3.2rem;
  width: 50%;
}
/* PARAGRAPHS */
.first__part {
  color: black;
  margin-bottom: 4.8rem;
}
.second__part {
  color: black;
  margin-bottom: 4.8rem;
}
.third__part {
  color: black;
  margin-bottom: 4.8rem;
}

/* IMAGES */
.prof__pic {
  margin-top: 3.2rem;
  height: 12.8rem;
  width: 12.8rem;
}

.images-about-me {
  width: 80vw;
  position: relative;
  flex-wrap: nowrap;
}
.img-aboutme-1 {
  position: absolute;
  border: 5px solid white;
  top: 5%;
  left: 3%;
  width: 32rem;
}
.img-aboutme-2 {
  position: absolute;
  top: 2%;
  left: 46%;
  width: 36rem;
  border: 5px solid white;
}
.img-aboutme-3 {
  position: absolute;
  top: 25%;
  left: 45%;

  width: 40rem;
}
.img-aboutme-4 {
  position: absolute;
  top: 24%;
  left: 5%;
  width: 30.5rem;
  align-self: flex-start;
}
.img-aboutme-5 {
  position: absolute;
  top: 53%;
  width: 41rem;
  border: 5px solid white;
  align-self: flex-start;
}
.img-aboutme-6 {
  position: absolute;
  top: 76%;
  left: 54%;
  width: 27.2rem;
  border: 5px solid white;
  align-self: flex-start;
}
.img-aboutme-7 {
  position: absolute;
  top: 53%;
  left: 54%;
  width: 23rem;
  border: 5px solid white;
  align-self: flex-start;
}

/* SECTION PRODUCTS */
.section__products {
  height: 100vh;
  background-color: #262626;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  border: 4px solid black;
  display: flex;
  flex-direction: column;
  margin-top: 1.6rem;
  clip-path: polygon(
    5% 0,
    95% 0,
    100% 5%,
    100% 95%,
    95% 100%,
    5% 100%,
    0 95%,
    0 5%
  );
  justify-content: center;
}

.products-heading {
  display: flex;
  font-size: 5.6rem;
  letter-spacing: 2px;
  padding-left: 5.6rem;
  padding-bottom: 3px;
  text-transform: uppercase;
  height: 9.1rem;
  background-color: #d5d5d5;
  color: #3c3c3c;
  align-items: flex-end;
  border-bottom: 4px solid black;
}

.cheese-showcase {
  display: flex;
  list-style: none;
  width: 100%;
}
.cheese-showcase li {
  width: 25%;
  border: 1px solid black;
}

.cheese-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
}
.cheese-photo img {
  opacity: 0.8;
  width: 26.4rem;
  height: auto;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
  justify-content: center;
  animation: fadeIn 5s;
}
.cheese-photo img:hover {
  opacity: 1;
  transform: scale(1.02);
  cursor: pointer;
}
/* TOOLTIP */
.tooltip {
  position: relative;
  display: flex;
  border-bottom: 1px dotted black;
  justify-content: center;
}

.tooltip .tooltiptext {
  visibility: hidden;
  bottom: 0;
  width: 120px;
  color: rgb(16, 15, 15);
  text-align: center;
  border-radius: 6px;
  padding: 2px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  background-color: rgba(255, 255, 255, 0.797);
  font-weight: 800;
  clip-path: polygon(10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
  visibility: visible;
  animation: fadeInText 1s;
}
/* MODAL WINDOW */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  box-shadow: 0 30px 80px 10px rgba(255, 255, 255, 0.487);
  display: block;
  max-height: calc(100vh - 3.2rem);
  overflow-y: auto;
}

.modal p {
  line-height: 2.4rem;
  margin-bottom: 40px;
  color: rgb(0, 0, 0);
}
.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  top: 0;
  order: 3;
}
.modal-header .title {
  font-size: 2.24rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 2rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
  order: 2;
  width: auto;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: initial;
}
.modal-picture {
  height: 40rem;
}
#overlay {
  position: fixed;
  opacity: 0;
  transition: all 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

/* SECTION GALERY */

.section__galery {
  display: flex;
  position: relative;
  height: 100vh;
  margin-top: 1.6rem;
  background-color: rgba(39, 38, 38, 0.713);
  clip-path: polygon(
    5% 0,
    95% 0,
    100% 5%,
    100% 95%,
    95% 100%,
    5% 100%,
    0 95%,
    0 5%
  );
  font-family: "Festive", sans-serif;
  overflow: hidden;
  transition: transform 1s, opacity 1s;
}
.galery_box {
  width: 100%;
  position: relative;
}
.section__header {
  position: absolute;
  height: 5rem;
  top: 5rem;
  left: 4rem;
  font-size: 8rem;
  line-height: 1.3;
  font-weight: 500;
}

.slider {
  top: 10rem;
  width: 60rem;
  height: 40rem;
  margin: 0 auto;
  position: relative;
  display: flex;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  /* height: 50rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s;
}

.slide > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider_btn {
  position: absolute;
  top: 50%;
  z-index: 10;
  border: none;
  background: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;
}

.btn_left {
  left: 6%;
  transform: translate(-50%, -50%);
}

.btn_right {
  right: 6%;
  transform: translate(50%, -50%);
}

/* SECTION WORKSHOP */
.section__workshop {
  height: 100vh;
  background-color: white;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.797),
      rgba(255, 255, 255, 0.756)
    ),
    url(blacknwhite.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  margin-top: 1rem;
  clip-path: polygon(
    5% 0,
    95% 0,
    100% 5%,
    100% 95%,
    95% 100%,
    5% 100%,
    0 95%,
    0 5%
  );
}

/* SECTION FRIENDS */
.section__friends {
  height: 100vh;
  background-color: white;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.797),
      rgba(255, 255, 255, 0.756)
    ),
    url(blacknwhite.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;

  display: flex;
  margin-top: 1rem;
  clip-path: polygon(
    5% 0,
    95% 0,
    100% 5%,
    100% 95%,
    95% 100%,
    5% 100%,
    0 95%,
    0 5%
  );
}
/* ANIMATION */
.fade-in {
  animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes fade-in {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.section--hidden {
  opacity: 0;
  transform: translateX(15rem);
}

.slideIn {
  transition: transform 1s, opacity 1s;
}

/* IMAGE */
.zoomD {
  cursor: pointer;
}

/* LIGHTBOX BACKGROUND */
#lb-back {
  display: flex;
  position: absolute;
  padding: 0;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: auto;
  background: rgba(0, 0, 0, 0.028);
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  transition: all ease-in-out 1s;
}
#lb-back.show {
  /* display: flex; */
  /* position: absolute; */
  visibility: visible;
  opacity: 1;
  width: 100%;
  height: 100%;
  justify-content: center;
}

/* [LIGHTBOX IMAGE] */
/* #lb-img {
} */
