@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Merriweather:wght@300;400;700;900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #777;
  padding: 10px 10px 10px 10px;
  background-color: black;
}

.header {
  display: flexbox;
  height: 96vh;
  max-width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(faber-main.JPG);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: relative;
  clip-path: polygon(
    5% 0,
    95% 0,
    100% 5%,
    100% 95%,
    95% 100%,
    5% 100%,
    0 95%,
    0 5%
  );
  margin-bottom: 1rem;
}
/* HEADING */

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
  z-index: -1;
}

.heading-primary {
  color: rgb(225, 224, 224);
  text-transform: uppercase;
  backface-visibility: hidden;
  padding-left: 20px;
}
.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 300;
  letter-spacing: 35px;
  animation: moveInLeft 2s ease-out; /* animation-delay: 3s; */
}
.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 17.4px;
  animation: moveInRight 3s ease-out;
}
/* KEYFRAMES */
@keyframes fadeInText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* navigation */

nav {
  position: absolute;
  width: 100%;
  height: 15vh;
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation {
  display: flexbox;
  position: absolute;

  max-width: 100%;
  margin-bottom: 1rem;
  z-index: 1000;
}

.navbar {
  display: flex;
  align-items: center;
}

.logo {
  height: 6rem;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.nav-item a {
  display: inline-block;
  padding: 1rem 1.5rem;
  text-decoration: none;
  color: white;
}

.logo img {
  width: 17.5rem;
  vertical-align: middle;
}

.menu-icon {
  font-size: 3rem;
  color: white;
}
.menu-icon:hover {
  opacity: 0.5;
  transition: 0.4s;
}

.navbar span {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.sticky {
  position: fixed;
  top: 1.6rem;
  right: 2rem;
  width: 80%;
}

/* OPEN-CLOSE MENÜ */

.nav-sidebar ul {
  overflow: hidden;
  visibility: hidden;
}
.nav-sidebar ul li {
  list-style: none;
}
.btn-toggle-nav {
  text-decoration: none;
}
.nav-sidebar ul li span,
.nav-sidebar ul li a {
  display: flex;
  font-size: 1.2rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  white-space: nowrap;
  opacity: 0;
  transition: all 1s ease-in-out;
}

.nav-sidebar {
  width: calc(0% - 100%);
  background-color: rgba(27, 26, 26, 0.618);
  border-radius: 0.5rem;
  z-index: 1000;
  transition: all 1s ease-in-out;
  /* opacity: 0.8; */
}
.nav-item {
  border: 0.1rem solid transparent;
}

.nav-item:active,
.nav-item:hover {
  transition: border-bottom 0.4s;
  border-bottom: 0.1rem solid white;
  opacity: 0.5;
}
.links {
  cursor: pointer;
}
/* SECTION ABOUT ME */
.section__me {
  height: 200vh;
  background-color: white;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.797),
      rgba(255, 255, 255, 0.756)
    ),
    url(/css/blacknwhite.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;

  display: flex;
  margin-top: 1rem;
  clip-path: polygon(
    5% 0,
    95% 0,
    100% 5%,
    100% 95%,
    95% 100%,
    5% 100%,
    0 95%,
    0 5%
  );
}

.profile__me {
  height: 8rem;
  border-radius: 50%;
}
.strong_word {
  font-size: 1.5rem;
}
.paragraph {
  line-height: 1.8rem;
  font-size: 1.1rem;
  margin-top: 2rem;
  width: 50%;
}
/* PARAGRAPHS */
.first__part {
  color: black;
  margin-bottom: 3rem;
}
.second__part {
  color: black;
  margin-bottom: 3rem;
}
.third__part {
  color: black;
  margin-bottom: 3rem;
}

/* IMAGES */
.prof__pic {
  margin-top: 2rem;
  height: 8rem;
  width: 8rem;
}

.images-about-me {
  width: 80vw;
  position: relative;
  flex-wrap: nowrap;
}
.img-aboutme-1 {
  position: absolute;
  border: 5px solid white;
  top: 5%;
  left: 2%;
  width: 20rem;
}
.img-aboutme-2 {
  position: absolute;
  top: 2%;
  left: 47%;
  width: 22.5rem;
  border: 5px solid white;
}
.img-aboutme-3 {
  position: absolute;
  top: 25%;
  left: 45%;

  width: 25rem;
}
.img-aboutme-4 {
  position: absolute;
  top: 24%;
  left: 2%;
  width: 19rem;
  align-self: flex-start;
}
.img-aboutme-5 {
  position: absolute;
  top: 53%;
  width: 27rem;
  border: 5px solid white;
  align-self: flex-start;
}
.img-aboutme-6 {
  position: absolute;
  top: 78%;
  left: 60%;
  width: 17rem;
  border: 5px solid white;
  align-self: flex-start;
}
.img-aboutme-7 {
  position: absolute;
  top: 51%;
  left: 60%;
  width: 17rem;
  border: 5px solid white;
  align-self: flex-start;
}

/* SECTION PRODUCTS */
.section__products {
  height: 103vh;
  background-color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(css/tablecloth.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  clip-path: polygon(
    5% 0,
    95% 0,
    100% 5%,
    100% 95%,
    95% 100%,
    5% 100%,
    0 95%,
    0 5%
  );
  justify-content: space-around;
}
.cheese-showcase {
  display: flex;
  list-style: none;

  width: 100%;
}
.cheese-showcase li {
  width: 25%;
}

.cheese-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;

  /* background-color: #000; */
}
.cheese-photo img {
  opacity: 0.8;
  width: 16.5rem;
  height: auto;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
  justify-content: center;
  align-items: center;
  animation: fadeIn 5s;
}
.cheese-photo img:hover {
  opacity: 1;
  transform: scale(1.02);
  cursor: pointer;
}
/* TOOLTIP */
.tooltip {
  position: relative;
  display: flex;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  bottom: 0;
  width: 120px;
  color: rgb(16, 15, 15);
  text-align: center;
  border-radius: 6px;
  padding: 2px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  background-color: rgba(255, 255, 255, 0.797);
  font-weight: 800;
  clip-path: polygon(10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
  visibility: visible;
  animation: fadeInText 1s;
}

/* SECTION GALERY */
.section__galery {
  height: 100vh;
  background-color: white;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.797),
      rgba(255, 255, 255, 0.756)
    ),
    url(css/blacknwhite.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;

  display: flex;
  margin-top: 1rem;
  clip-path: polygon(
    5% 0,
    95% 0,
    100% 5%,
    100% 95%,
    95% 100%,
    5% 100%,
    0 95%,
    0 5%
  );
}
/* ----------------------------------------- */

.fade-in {
  animation: fade-in 3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes fade-in {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* MODAL WINDOW */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  box-shadow: 0 30px 80px 10px rgba(255, 255, 255, 0.487);
  display: block;
  max-height: calc(100vh - 2rem);
  overflow-y: auto;
}

.modal p {
  line-height: 1.5rem;
  margin-bottom: 40px;
  color: rgb(0, 0, 0);
}
.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  top: 0;
  order: 3;
}
.modal-header .title {
  font-size: 1.4rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
  order: 2;
  width: auto;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: initial;
}
.modal-picture {
  height: 25rem;
}
#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}
